/* Make the spinner overlay semi-transparent for umap-loading */
div[id="umap-loading"] .dash-overlay {
    background: rgba(255, 0, 0, 0.5) !important;
}

#controls-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 400px;
    margin-left: 20px;
    gap: 0px;
}

#main-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}